// colgr
$them-color:#FFA726;
$black-color:#000;
$white-color:#fff;
$light-white:#F5F5F5;
$primery-color:#666;
$secondry-color:#999;
$light-gray-color:#54595F;

// fon-size
$x-xtra-larg-font-size:60px;
$xtra-larg-font-size:40px;
$larg-font-size:36px;
$x-xtra-mediam-larg-font-size:24px;
$xtra-mediam-font-size:22px;
$mediam-font-size:20px;
$xtra-smool-font-size:16px;
$smool-font-size:15px;

// line-hight
$x-xtra-larg-line-hight:65px;
$xtra-larg-line-hight: 51px;
$larg-line-hight: 48px;
$xtra-mediam-line-hight:30px;
$mediam-line-hight:24px;
$x-xtra-smool-larg-line-hight:23px;
$xtra-smool-line-hight:22px;
$smool-line-hight:normal; 

// font-family
$primery-font-family:Raleway;
$secondry-font-family:Roboto;
$third-font-family:Inter;
$fourth-font-family:Poppins;


// font-weight
$xtra-larg-font-weight:800;
$larg-font-weight:600;
$mediam-font-weight:500;
$smool-font-weight:400;

// padding
$gutter-padding:0 15px;
$padding:0px;

// margion
$gutter-margin:0 -15px;
$margin:0;
// responsive
$x-xtra-large:1599px;
$xtra-large:1439px;
$large:1365px;
$x-xtra-medium:1199px;
$xtra-medium:1023px;
$medium:991px;
$x-xtra-small:767px;
$xtra-small:575px;
// $larg:;


